.checkout-container {
    margin-top: 80px;
}

.display-checkout {
    /* margin-top: 80px; */
    padding: 0px 20px;
    /* display: block; */
}

.order-summary {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px 0px 10px 0px;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: stretch;
    gap: 10px;
}

.shipping-info {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px 0px 10px 0px;
}

.shipping-info input {
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.shipping-info input:focus {
    outline-color: orangered;
}

.shipping-input {
    margin-bottom: 10px;
}

.submit-btn {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: burlywood;
}

.submit-btn:hover {
    color: white;
    background-color: chocolate;
    cursor: pointer;
}

#confirm-msg {
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 50%;
    margin: 10px auto;
    color: rgb(5, 187, 5);
    border-radius: 10px 0px 10px 0px;
}

.confirm>p>a {
    color: red;
}